---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import BusinessPillars from '../components/BusinessPillars.astro';
import CaseStudies from '../components/CaseStudies.astro';
import Impact from '../components/Impact.astro';
import Partners from '../components/Partners.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <BusinessPillars />
    <CaseStudies />
    <Impact />
    <Partners />
    <Contact />
  </main>
  <Footer />
</Layout>
